name: Python APP

on:
  push:
    branches:
    - master
    paths:
    - "*"
    - "!README"
    - "!README.md"
    - "!README.txt"
# schedule:
#   - cron: "0 0 * * 0"
  pull_request:
    branches:
    - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Lint with PyLint
      run: |
        pylint app.py
    - name: Test with PyTest
      run: |
        pytest
#   - name: Build a container image from code
#     run: |
#       docker build . --file Dockerfile -t ea1het/pytest:latest --build-arg BUILD_DATE=`date -u +"%Y-%m-%d"` --build-arg VCS_REF=`git rev-parse --short HEAD` --build-arg VERSION=v1.0 
